/* Background.css */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Ensure it is behind other content */
    margin-top: 200px;
  }
 


  .introduction
  {
    display: flex;
    flex-direction: column; /* or row depending on your layout needs */
    align-items: center;
    justify-content: center;
    height: 100vh; /* make the div take full height of the viewport */
    text-align: center;
  }

  .h1
  {
    text-align: center;
    color: rgb(64, 7, 7);
  }
  .p
  {
    align-items: center;
  }