.dashboard {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;

  /* new */

  position: relative;

  /* Add a blurred background image */
  background-image: url('../img/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: blur(50px); Add a blur effect */

  /* Adjust opacity to make it faded */
  /* opacity: 0.8; You can adjust this value as needed */
  
}

/*updated here*/
.dashboard-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background stays behind other content */
  background-size: cover; /* Ensures the background image covers the entire container */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: center; /* Centers the background image */
}



.dashboard h1 {
  font-family: monospace;
  font-size: 55px;
  color: rgb(165, 59, 59);
}

.blood-table th {
  font-size: 30px;
  font-family: monospace;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(51, 17, 11);
}
.blood-table td {
  font-size: 20px;
  font-family: monospace;
  border: 2px solid black;
  text-align: center;
}
.blood-table td:hover {
  font-size: 20px;
  font-family: monospace;
  border: 2px solid rgb(165, 59, 59);
  text-align: center;
  color: rgb(102, 35, 170);
}

.dashboard img{
  width: 70%;
  height: 150px;
  margin-top: 1em;
}