.search {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  position: relative;
  background-image: url('../img/search.png');
  

}

/* Search form */
.search form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Background for the search container */
.search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff4d4d, #333435);
  z-index: -1; /* Ensure the background stays behind other content */
  filter: blur(10px); /* Slight blur for effect */
}

/* Search input */
.search input {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  margin-right: 5px;
  outline: none;
  text-align: center;
  border: 2px solid transparent; /* Initially transparent border */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Search button */
.search button {
  width: 180px;
  height: 38px;
  border-radius: 38px;
  background-color: #525f6d; /* Dark grey color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #333435; /* Darker shade on hover */
}

/* Blood drop animation */
@keyframes blood-drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

/* Blood drop element */

/* Updated button styles */
.update-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 18px;
  font-family: monospace;
  color: white;
  background-color: #525f6d;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.update-button:hover {
  background-color: #333435;
  transform: scale(1.05);
}

.update-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Dashboard styling */



.blood-table th {
  font-size: 30px;
  font-family: monospace;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(51, 17, 11);
}

.blood-table td {
  font-size: 20px;
  font-family: monospace;
  border: 2px solid black;
  text-align: center;
}

.blood-table td:hover {
  font-size: 20px;
  font-family: monospace;
  border: 2px solid rgb(165, 59, 59);
  text-align: center;
  color: rgb(102, 35, 170);
}

.dashboard img {
  width: 70%;
  height: 150px;
  margin-top: 1em;
}

/* Add blood drops to the dashboard */
.dashboard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}